kh3tshop-be/src/main/resources/credentials.json

# Terraform files
**/.terraform/
**/local_mirror/
*.tfstate
*.tfstate.*
*.exe

# Java build artifacts
**/target/
**/*.class

# IDE files
.idea/
*.iml
.vscode/
*.DS_Store
