# Terraform files
**/.terraform/
**/local_mirror/
*.tfstate
*.tfstate.*
*.exe

# Build and IDE artifacts
**/target/
*.class
*.jar
*.war
*.ear
.idea/
.vscode/
*.iml
*.log

# Java build artifacts
**/target/
**/*.class

# IDE files
.idea/
*.iml
.vscode/
*.DS_Store

# Environment files (QUAN TRỌNG)
.env
*.env
!.env.example

# Credentials
**/credentials.json